<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcbkproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.gcbkproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.ScreenTwo"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.HomeScreen"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.GraphScreen"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.ModifyScreen"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.ScreenThree"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.SettingsScreen"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.TitleScreen"/>
        <activity android:label="@string/app_name" android:name="com.example.gcbkproject.TransactionScreen"/>
    </application>

</manifest>
